{{page-title "Courses"}}
<div class="p-5">
  <div class="mb-3">
    <h2>Current courses:</h2>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.allCourses as |course|}}
      <tr>
        <td>{{course.id}}</td>
        <td>{{course.code}}</td>
        <td>{{course.name}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>